  <section>
    <div class="row">    
      <div class="col-sm-9">
        <div class="taco_single">
            <h2><%= @taco.name %></h2>
            <h4>Categories: <%= @taco.printable_category_names %></h4>
            <h3><%= @taco.sale_message %></h3>
            <p>Price: <%= number_to_currency(@taco.price) %></p>
            <p>Tax: <%= number_to_currency(@taco.tax) %></p>
            <h4>Total: <%= number_to_currency(@taco.total) %></h4>
            <% @taco.images.each do |image| %>
              <img src="<%= image.src %>" alt="<%= @taco.name %>" class="img-responsive">
            <% end %>
            <p>Description: <%= @taco.description %></p>
            <p>Rating: <span class="rating"><%= @taco.rating %></span></p>
            <%= form_tag "/orders", method: :post do %>
              <div>
                <%= label_tag :quantity %>
                <%= text_field_tag :quantity %>
                <%= hidden_field_tag :product_id, @taco.id %>
                <%= submit_tag "Add to cart" %>
              </div>
            <% end %>
            <%= link_to "Edit", "/products/#{@taco.id}/edit", class: "btn btn-success" %>
            <%= link_to "Delete", "/products/#{@taco.id}", {method: :delete, class: "btn btn-danger" }%>
        </div>
      </div>
    </div>
  </section>
